@charset "ISO-8859-1";
body {
   /*background-color: burlywood;*/
   background-image:url("img/f2.jpg");
   
}

.center-screen {
   align-content: center;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   text-align: center;
   width: 300px;
   padding: 20px;
   background-color:palevioletred;
   background-origin: 2px solid red;
   position: absolute;
   left: 50%;
   top: 9%;
   right:200%;
   box-shadow: 1px 7px 6px 5px gold; 
}

.center-screen >div {
   padding: 5px;
}

input {
   height: 30px;
   width: 200px;
   border-radius: 5px;
   text-align: center;
   font-size: 15px;
}


input::placeholder {
   text-align: center;
}

.submit {
   height: 39px;
   width: 209px;
   border-radius: 5px;
   font-size: 20px;  
}

.submit:hover {
   background-color:pink;
   
}
.checkbox{
   height: 12px;
   width:12px;
   border-radius: 5px;
   margin-left: 30px;
   margin-top: 20px;
}
img{
   margin-right: 100px;
}
h1{
   margin-right: 20px;
   text-align: center;
}
.login{
   width:100px;
   height:30px;
   background-color:pink;
   font-weight: bold;
}
.submit1{
   height: 30px;
   width: 200px;
   background-color:pink;
   border-radius: 5px;
   font-weight: bold;
}
a:link{
   text-decoration: none;
}
.search{
   width:100%;
}
.search::placeholder{
  
   text-align: start;
   
}
.body1{
   background-image:url('../img/w6.jpg') ;
   
}
header{
   height: 135px;
   display: flex;
   flex-direction: row;
  
}
header>div{
   width: 200px;
   height: 97px;

}
.logo{
   width:50%;
   padding:20px;
   border-radius: 50%;
   
}
.company-name{
   /*text-align: center;*/
   margin-right: 30%;
   
}
.company-text{
   text-align: center;
   font-size: 30px;
   position: relative;
   top: 35px;
   right:15%;
   text-shadow: 2px 3px 3px palevioletred;
   font-family:cursive;
   color:purple;
  
}
a:link{
   font-size: 20px;
   text-decoration: none;
   position: relative;
   top:50%;
   left: 30%;
   display: flex;
   justify-content: flex-end;
  
  
}
.icon{
   width: 15%;
   position: relative;
   right: 50%;
   top:15%;
   display: flex;
   justify-content: flex-end;
}
nav{
   height: 50px;
   background-color:rgb(207, 53, 79);
}
nav>div{
   display:flex;
  flex-direction: row;
}
ul{
   list-style-type: none;
}
li{
   display: inline-block;
   margin-right: 30px;
}
